@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
}

.left-box {
    width: 25vw;
    color: white;
    margin: 6px;
}

.nav {
    border-radius: 8px;
    background-color: #121212;
    padding: 12px 25px;
}

.logo img {
    width: 5.5rem;
}

.home {
    padding: 10px 0px 12px 0px;
}


.music-lib {
    background-color: #121212;
    border-radius: 8px;
    padding: 25px;
    margin-top: 6px;
    height: 73.5vh;
}

.play-lib {
    width: 98%;
    height: 45vh;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    overflow: auto;
    overflow-y: scroll;
    background: black;
}

.play-lib ul {
    padding: 0px 15px;
    list-style: none;
    width: 100%;
}

.play-lib li {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 6px 6px;
    border-radius: 5px;
}

.play-lib li div {
    cursor: pointer;
}

.play-lib li img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0px;
}

.footer a {
    font-size: 0.7rem;
    color: #a7a7a7;
}

.lang {
    display: flex;
    border: 0.5px solid white;
    justify-content: flex-start;
    align-items: center;
    margin-right: 12em;
    padding: 8px;
    border-radius: 30px;
}

.lang select {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
}

.lang img {
    width: 16px;
}


.right-box {
    width: 75vw;
    /* height: 90.5vh; */
    background-color: #121212;
    color: white;
    margin: 6px 6px 6px 0px;
    border-radius: 8px;
    /* position: relative; */
}

/* design of navigation bar of right container */
.nav-bar {
    background-color: #212121;
    width: 100%;
    height: 4rem;
    border-radius: 8px 8px 0px 0px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
}

.hamburger {
    display: none;
}

.signup {
    background-color: transparent;
    cursor: pointer;
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 40px;
    border: none;
    font-size: 1rem;
}

.login {
    background-color: white;
    cursor: pointer;
    height: 2.5rem;
    width: 6.5rem;
    color: black;
    border-radius: 40px;
    border: none;
    font-size: 1rem;
}

.acc button:hover {
    font-weight: 600;
    /* color: red; */
}


/* main part of right container */
.main {
    padding: 20px 25px;
    height: 82vh;
    overflow: auto;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.playlist {
    padding-left: 10px;
    margin-bottom: 10px;
}

/* design of card of playlists */
.card {
    height: 240px;
    width: 180px;
    background: transparent;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.card:hover {
    background-color: #312f2f;
    cursor: pointer;
    --a: 1;
    transition: all ease-in 0.25s;
}


.card-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

/* .playbtn {
    padding: 113px 15px 0px 0px;
    text-align: end;
    height: 240px;
    width: 180px;
    background: rgb(255 255 255 / 5%);;
    border-radius: 8px;
    position: absolute;
} */

.play {
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 75px;
    right: 15px;
    opacity: var(--a);
    transition: all .25s ease-out;
}


/* Footer of right container */
.right-footer {
    padding: 25px 10px 0px 10px;
}

.right-foot-1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.right-foot-1 div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.right-foot-1 a {
    text-decoration: none;
}

.right-foot-1 a:hover {
    text-decoration: underline;
}

.foot-break {
    width: 100%;
    height: 1px;
    background-color: #b3b3b3;
    margin: 35px 0px;
}

.playbar {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 12px 0px;
    position: fixed;
    bottom: 0;
}

.pp-box {
    display: flex;
    justify-content: center;
}

.playpause {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.seekbar {
    width: 40%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
    position: relative;
    bottom: 4px;
    cursor: pointer;
    transition: left .3s;
    left: 0;
}

.timevol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 0px 0px 0px;
}

.volume {
    display: flex;
    align-items: end;
}

.range input[type="range"] {
    width: 75px;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


@media only screen and (max-width:600px) {
    .left-box {
        width: 100%;
        height: 100%;
        position: absolute;
        left: -100%;
        background: black;
        z-index: 10;
        padding: 6px;
        margin: 0px;
    }

    .right-box {
        width: 100vw;
        position: relative;
        margin-left: 6px;
    }

    .arrow {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px 0px;
    }
    
    .footer a {
        font-size: 0.7rem;
        color: #a7a7a7;
    }
    
    .lang {
        display: flex;
        border: 0.5px solid white;
        justify-content: flex-start;
        align-items: center;
        margin-right: 24em;
        padding: 8px;
        border-radius: 30px;
    }
    
    .lang select {
        background-color: transparent;
        border: none;
        font-size: 0.8rem;
    }
    
    .lang img {
        width: 16px;
    }
}

@media only screen and (min-width:601px) and (max-width:1024px) {
    .left-box {
        width: 40vw;
        position: absolute;
        left: -61vh;
        background: black;
        z-index: 10;
        padding-right: 6px;
    }

    .right-box {
        width: 100vw;
        position: relative;
        margin-left: 6px;
    }

    .arrow {
        display: none;
    }

    .hamburger {
        display: block;
    }
}